@model IEnumerable<Practica_new.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div align="right">
<form asp-controller = "Users" asp-action = "Index" method = "post">
    <table>
        <tr>
            <td>
                 <input name = "Search" width = 1000/>

            </td>
            <td>
                    <input type = "submit" value = "Найти"/>
            </td>
        </tr>
    </table>
</form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                 <a width = "33%" class="btn btn-outline-primary" role="button" href="~/Users/Edit/@item.UserId ">Изменение</a> 
                <a width = "33%"class="btn btn-outline-primary" role="button" href="~/Users/Details/@item.UserId ">Детали</a>
                <a width = "33%" class="btn btn-outline-primary" role="button" href="~/Users/Delete/@item.UserId ">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
