@model Practica_new.Models.Cpu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cpu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeriesCpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeriesCpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountCore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountCore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tdp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tdp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnergyConsumptionCpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnergyConsumptionCpu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCpu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
