@model Practica_new.Models.Disk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHddNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHddNavigation.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSsdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSsdNavigation.Brand)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDisk">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
