@model Practica_new.Models.Motherboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motherboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameMotherboard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameMotherboard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocketProcessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocketProcessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSlotsRam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSlotsRam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberM2storageSlots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberM2storageSlots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chipset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chipset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormFactor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMotherboard">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
