@model Practica_new.Models.Hdd

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hdd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameHdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameHdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeedDisk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeedDisk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeMemoryHdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeMemoryHdd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHdd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
