@model Practica_new.Models.Carcass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carcass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCarcass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCarcass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherboardFormFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherboardFormFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberUsbOutputs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberUsbOutputs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberAudioOutputs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberAudioOutputs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCarcass">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
